.tracker_container{
    color: white;
    font-family: var(--font-family);
    font-size: 20px;
    display: flex;
    padding: 5rem;
}

.tracker-content{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
}

.tracker-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tracker-feature img{
    width: 50%;
    height: 100%;
}

.tracker-feature{
    display: flex;
    flex-direction: row;
   gap: 10%;
}

.tracker-content h1{
    padding-bottom: 2rem;
}

@media screen and (min-width: 1049px) {
    
}

@media screen and (max-width: 1050px) {
 

}


@media screen and (max-width: 700px) {

}

@media screen and (max-width: 550px) {
   

}