/*Main Container*/

.profile_container {
    padding: 4rem 1rem;
    margin: 0 auto;
  }
  
  .heading {
    font-size: 3rem;
    text-align: center;
    font-weight: 200;
  }

  /*Swiper Container - Contains Slides*/
  
  .swiper_container {
    height: 52rem;
    padding: 2rem;
    position: relative;
  
  }
  
  .swiper-slide-2 {
    width: 100rem;
    height: 100rem;
    position: relative;
  }

  .slide h1, .slide h2, .slide label{
    color: rgb(0, 0, 0);
    font-weight: 100;
  }

  .slide h1{
    padding: 30px;
    text-align: center;
  }

  .slide h2{
    padding-bottom: 30px;
  }

  .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    width: 60rem;
    height: 40rem;
  
  }

  .slide label{
    margin-right: 100px;
  }

  .slide input{
    margin-left: 200px;
  }

  .slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider-controler .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
  }
  
  
  .slider-controler .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    
  }
 
  
  .slider-controler .slider-arrow::after {
    content: '';
  }
  
  .swiper-pagination-3 {
    position: relative;
    width: 15rem !important;
    bottom: 1rem;
    transform: translate(35%, 100%);

  }
  
  .swiper-pagination-3 .swiper-pagination-bullet {
    padding: 2px;

  }
  
  .swiper-pagination-3 .swiper-pagination-bullet-active {
    background: white;
  }

  
  /* Options container */
.options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    margin-bottom: 12px;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


/*Ensures all options are inline*/
.selections{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.selections input{
    display: flex;
    cursor: pointer;
    width: 20px;
}

  .profile_buttons button{
    background: black;
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
  }

  .profile_buttons button:hover{
    background-color: rgb(93, 93, 93);
    border-color: rgb(93, 93, 93);
    
  }

.slide-four input{
    width: 30px;
}
 

  /*Checkboxes - space between label and box, ensuring it's inline*/
  #option_three{
    padding-left: 27px;
    transform: translateX(135%);
  }
  #option_four{
    transform: translateX(-145%);
  }
  #option_5{
    transform: translateX(5%);
  }
  #option_6{
    transform: translateX(15%);
  }

  #option_7{
    transform: translateX(155%);
  }

  #option_8{
    transform: translateX(-80%);
  }

  #option_9{
    transform: translateX(160%);
  }

  #option_10{
    transform: translateX(45%);
  }

  #option_11{
    transform: translateX(-105%);
  }

  #option_12{
    transform: translateX(-320%);
    width: 28px;
  }

  #option_13{
    transform: translateX(-320%);
  
  }

  
   /*Media Queries*/
   @media (max-width:4000px){
  
   }


   @media (max-width:3000px){

    .slide{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: rgb(255, 255, 255);
      border: 2px solid black;
      width: 65rem;
      height: 40rem;
    
    }
}

@media (max-width:2189px){

    .slide{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: rgb(255, 255, 255);
      border: 2px solid black;
      width: 60rem;
      height: 40rem;
    
    }
}


@media (max-width:1417px){
    
}


@media (max-width:1375px){

.heading {
    font-size: 2.8rem;
}

  .slide{
    width: 38rem;
    height: 32rem;
  }

  .slide h1{
    font-size: 1.7rem;
  }

  .slide h2{
    font-size: 1.3rem;
  }

  .options{
    font-size: 1.3rem;
  }

  .selections{
   
}

.selections input{
    width: 20px;
}

  .profile_buttons button{
    width: 130px;
    font-size: 14px;
  }
  .swiper-pagination-3 {
    transform: translate(35%, -700%);

  }
 
}


@media (max-width:1207px){
    .heading {
        font-size: 2.4rem;
    }
    
      .slide{
        width: 36rem;
        height: 30rem;
      }
    
      .slide h1{
        font-size: 1.5rem;
      }
    
      .slide h2{
        font-size: 1.1rem;
      }
    
      .options{
        font-size: 1rem;
      }
    
      .selections{
       
    }
    
    .selections input{
        width: 20px;
    }
    
      .profile_buttons button{
        width: 110px;
        font-size: 12px;
      }

      .swiper-pagination-3 {
        transform: translate(35%, -800%);
    
      }
}


@media (max-width:1050px){

    .profile_container{
        max-width: 100rem;
    }

    .heading {
        font-size: 2.2rem;
    }

    .swiper_container {
        width: 48rem;
    }
    
      .slide{
        width: 36rem;
        height: 30rem;
      }
    
      .slide h1{
        font-size: 1.3rem;
      }
    
      .slide h2{
        font-size: 0.9rem;
      }
    
      .options{
        font-size: 0.7rem;
      }
    
      .selections{
       
    }
    
    .selections input{
        width: 20px;
    }
    
      .profile_buttons button{
        width: 90px;
        font-size: 10px;
      }

      .swiper-pagination-3 {
        transform: translate(55%, -1000%);
    
      }

      .swiper_container{
        transform: translateX(-13%);

      }

     
    
}


@media (max-width:867px){
    .heading {
        font-size: 1.9rem;
    }

    .swiper_container {
        width: 43.5rem;
    }
    
      .slide{
        width: 32rem;
        height: 26rem;
      }
    
      .slide h1{
        font-size: 1.1rem;
      }
    
      .slide h2{
        font-size: 0.7rem;
      }
    
      .options{
        font-size: 0.5rem;
      }
    
      .selections{
       
    }
    
    .selections input{
        width: 20px;
    }
    
      .profile_buttons button{
        width: 70px;
        font-size: 8px;
      }

      .swiper-pagination-3 {
        transform: translate(55%, -1200%);
      }

     
}


@media (max-width:732px){
    .heading {
        font-size: 1.7rem;
    }

    .swiper_container {
        width: 40.2rem;
    }
    
      .slide{
        width: 30rem;
        height: 24rem;
      }
    
      .slide h1{
        font-size: 1rem;
      }
    
      .slide h2{
        font-size: 0.6rem;
      }
    
      .options{
        font-size: 0.5rem;
      }
    
      .selections{
       
    }
    
    .selections input{
        width: 20px;
    }
    
      .profile_buttons button{
        width: 70px;
        font-size: 8px;
      }

      .swiper-pagination-3 {
        transform: translate(50%, -1400%);
      }
}


@media (max-width:600px){
    .heading {
        font-size: 1.7rem;
    }

    .swiper_container {
        width: 40.6rem;
    }
    
      .slide{
        width: 30rem;
        height: 24rem;
      }
    
      .slide h1{
        font-size: 1rem;
      }
    
      .slide h2{
        font-size: 0.6rem;
      }
    
      .options{
        font-size: 0.5rem;
      }
    
      .selections{
       
    }
    
    .selections input{
        width: 20px;
    }
    
      .profile_buttons button{
        width: 70px;
        font-size: 8px;
      }

      .swiper-pagination-3 {
        transform: translate(50%, -1400%);
      }

      .swiper_container{
        transform: translateX(-20%);

      }
}


@media (max-width:550px){
    
    .swiper-pagination-3 {
        transform: translate(50%, -1400%);
      }

      .swiper_container{
        transform: translateX(-20%);
        width: 36rem;
   
      }
      
      .slide-one{
        transform: translateY(20%);
      }
    
      .slide{
        width: 26rem;
        height: 20rem;
      }
    
      .slide h1{
        font-size: 0.7rem;
      }
    
      .slide h2{
        font-size: 0.6rem;
      }
    
      #options{
        font-size: 0.5rem;
      }
    
      .slide-one #option_three  {
       width: 17.5px;
      }

      .slide-one #option_four  {
        width: 21.5px;
       }

      #option_one{
        transform: translateX(-505%);
     
      }
      #option_two{
        transform: translateX(-505%);
        
      }
      #option_three{
        transform: translateX(-460%);
     
      }
      #option_four{
        transform: translateX(-517%);
      }
     

}





  
