.record_scroll_section {
    height:350px;
    line-height:3em;
    overflow:auto;
    padding:5px;
    width: 100%;

}

.scroll_element {
    background: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6px 4px;
    background-color: #72236A;
    border-radius: 5px;

}

.scroll_element_left {
    padding-left: 10px;
    display: flex;
    flex-direction:  column;
    flex: 1;

}

.scroll_element_left div {
  height: 45px;

}

.scroll_element_right {
    display: flex;
    text-align: left;
    margin: auto;
}

.plus_icon {
    max-width: 35px;
    max-height:  35px;
    cursor: pointer;
}


.calories_text {
color: darkgrey;
}

.notification {
  position: fixed;
  height: 50px;
  top: 5rem;

  display: flex;
  align-items: center;
  padding: 0px 20px;

  background-color: green;
  padding: 16px;
  border-radius: 4px;
  transition: opacity 0.5s ease-in-out; /* Add transition for opacity */
}

.notification {

}

.notification p {
  margin: 0;
}

.notification.fade-out {
  opacity: 0; /* Set opacity to 0 for fade-out effect */
}
