.chatBot {
}

.chat_button {
    margin: 0px ;
    position: fixed;
    height: 50px;
    right: 0;
    bottom: 0;
    width: 320px;
    color: white;
    text-align: center;
    
    padding: 0.5rem 1rem;
    color: #fff;
    /* background: #72236A; */
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;

    background-color: #8884d8;
     z-index: 99 !important;
}

.chat_button_mobile {
    max-width: 50px;
    display: none;
    position: fixed;
    height: 50px;
    right: 0;
    bottom: 0;
    width: 320px;
    background-color: #8884d8;
    color: white;
    text-align: center;

    padding: 0.5rem 1rem;
    color: #fff;
    /* background: #72236A; */
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;

    background-color: #8884d8;
}

@media screen and (max-width: 550px) {
    .chat_button {
         display: none;}
    .chat_button_mobile { 
        display: block;}
}