.home__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.home_navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
 
.home_navbar-links-logo{
    margin-right: 1rem;
}


.home_navbar-links-logo img{
    width: 8em;
}

.home_navbar-links-container{
    display: flex;
    flex-direction: row;
}

.home_navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.home_navbar-links-container p,
.home_navbar-sign p{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.home_navbar-sign button{
    padding: 0.5rem 1rem;
    color: #fff;
    background: #72236A;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.home_navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
}

.home_navbar-menu svg {
    cursor: pointer;
}

.home_navbar-menu-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    font-family: var(--font-family);
    color: white;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);

}

.home_navbar-menu-container p{
    margin: 1rem 0;
}

.home_navbar-menu-container-links-sign{
    display: none;
}

.home_navbar-menu-container-links p:hover{
    color: rgb(202, 20, 20);
    transition: 0.2s;
}


.home_navbar p:hover{
    color: rgb(202, 20, 20);
    transition: 0.2s;
}

.home_navbar button:hover{
    background-color: rgb(202, 20, 20);
}

.home_navbar-sign button:hover{
    background-color: rgb(202, 20, 20);
    transition: 0.2s;
}

.toggle_menu{
    color: white;
}

@media screen and (min-width: 1050px) {
    .toggle_menu{
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    .home_navbar-links-container{
        display:none;
    }

    .home_navbar-sign{
        display: none;
    }


}


@media screen and (max-width: 700px) {
    .home_navbar{
        padding: 1rem 2rem;
    }

    .home_navbar-sign{
        display: none;
    }

}

@media screen and (max-width: 550px) {
    .home_navbar{
        padding: 1rem;
    }

    .home_navbar-sign{
        display: none;
    }


}


