.history_header {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.two_scroll_boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back_button_section {
    display: flex;
    justify-content: flex-end;
    margin-right: 7%;

}

.back_button_section a{
    min-width: 100px;
    text-align: center;

}

.scrollBox_element {
    width: 48%;
}




@media screen and (max-width: 550px) {
    .two_scroll_boxes { 
        flex-direction: column;
        gap: 2rem;
    }
    .scrollBox_element {
        width: 100%;
    }
}