*,
*::before,
*::after {
  margin: 0;
  padding: 0;
 
  list-style-type: none;
  font-family: var(--font-family);
  scroll-behavior: smooth;
  color: white;
}

.features_main{
  padding: 5rem;
  align-items: center;
 justify-content: center;
 display: flex;

}

.features_text{
  max-width: 40rem;
  padding: 2rem;
}


.features_slides{
  
}


.mySwiper {
  width: 600px;
  height: 300px;
  overflow: visible;
  transform: translateY(20%);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
 
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  transform: translateY(-10%);
  border-radius: 0%;

  
}

.swiper-pagination-bullet{

  transform: translateX(1100%) !important;
}

.swiper-pagination1{
  transform: translateX(50%) !important;
}

