.account_header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.account_header_left {
    flex: 1 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.account_header_right {
    flex: 1 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.account_header_right a {
    min-width: 120px;
    text-align: center;
}

.default_font {
    color: white;
    font-family: var(--font-family);
}

.account_image {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account_image img {
    width: auto;
    height: 200px;
}

.default_button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #72236A;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.account_stats_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.account_stats_group button{
    margin: 5px;
}

.margin_bottom_20 {
    margin-bottom: 20px;
}

.account_header_right h3{

}

.account_stats_group li {
    list-style-type: none;
    background-color: #72236A;
    padding: 13px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    min-width: 196px;
    border-radius: 5px;
}

