.header_container{
    display: flex;
    flex-direction: row;
}

.header_container input{
    color: black;
}


.header_content{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
}


.header_content h1{
    font-weight: 800;
    font-size:70px;
    line-height: 80px;
    letter-spacing: -0.04em;
  
}

.header_content p{
    font-size: 20px;
    line-height: 28px;
    margin-top: 1.5rem;
    color: white;
}

.header-content-input{
    width:100%;
    margin: 2rem 0 1rem;
    display: flex;
    flex-direction: row;
}

.header-content-input input{
    flex:1.75;
    width: 100%;
    height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    border: 2px solid white;
    padding: 0 1rem;
    outline:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header-content-input button{
    flex: 0.8;
    width: 100%;
    height: 50px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    background: #72236A;
    border: 2px solid #72236A;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ontrack__header-image img{
    width: 80%;
    height: 80%;
}

.header-content-input button:hover{
    background-color: rgb(202, 20, 20);
    border-color: rgb(202, 20, 20);
    transition: 0.2s;
}

@media screen and (max-width: 1453px){
    .header-content-input{
        width: 90%;
    }

    .header-content-input input{
        font-size: 12px;
        line-height: 26px;

    }

    .header-content-input button{
        font-size: 12px;
        line-height: 26px;
    }

  

    .header-image img{
        width: 70%;
        height: 70%;
    }

    
    .header_content h1{
        font-size:65px;
    }
    
    .header_content p{
        font-size: 18px;
   
    }

}

@media screen and (max-width: 1417px){
    .header-content-input{
        width: 80%;
    }

    .header-content-input input{
        font-size: 10px;
        line-height: 24px;
    }

    .header-content-input button{
        font-size: 10px;
        line-height: 24px;
    }

    .header_content h1{
        font-size:60px;
    }
    
    .header_content p{
        font-size: 16px;
   
    }

}

@media screen and (max-width: 1375px) {

    .header_content h1{
        font-size:50px;
    }
    
    .header_content p{
        font-size: 14px;
    }

    .header-image img{
        width: 65%;
        height: 65%;
    }

}


@media screen and (max-width: 1207px) {
    .header-image img{
        width: 60%;
        height: 60%;
    }

    
    .header_content h1{
        font-size:40px;
    }
    
    .header_content p{
        font-size: 12px;
   
    }

    .header-content-input{
        width: 80%;

    }



}

@media screen and (max-width: 1050px) {
    .header_container {
        flex-direction: column;
    }

    .header_content {
        margin: 0 0 3rem;
        justify-content: center;
        align-items: center;
    }

    .header-content-input{
        width: 90%;
    }

    .header-content-input input{
        font-size: 14px;
        line-height: 26px;
    }

    .header-content-input button{
        font-size: 14px;
        line-height: 26px;
    }
    
    
    .header-image img{
        width: 50%;
        height: 50%;
    }

    .header_content h1{
        font-size:50px;
    }
    
    .header_content p{
        font-size: 16px;
    
    }

}


@media screen and (max-width: 867px) {

    .header_content h1{
        font-size:40px;
    }

    .header_content p{
        font-size: 14px;
    }

    .header-content-input{
        width: 90%;
    }

    .header-content-input input{
        font-size: 12px;
        line-height: 24px;
    }

    .header-content-input button{
        font-size: 12px;
        line-height: 24px;
    }

}

@media screen and (max-width: 732px) {
    .header_content h1{
        font-size:35px;
    }

    .header_content p{
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
   
    .header_content h1{
        font-size:30px;
    }

    .header-content-input input{
        font-size: 10px;

    }

    .header-content-input button{
        font-size: 10px;
    
    }

}

@media screen and (max-width: 550px){
    .header_content h1{
        font-size:25px;
    }

    .header_content p{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .header-content-input{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 409px){
    .header_content h1{
        font-size:22px;
    }

    .header-content-input{
        width:80%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .header-content-input input{
        width: 100%;
        height: 1rem;
        font-size: 12px;
        line-height: 40px;
        border-radius: 2px;
    }
    
    .header-content-input button{
        font-size: 12px;
        line-height: 40px;
        border-radius: 2px;
    }
}

@media screen and (max-width: 368px){
    .header_content h1{
        font-size:20px;
    }
}

@media screen and (max-width: 334px){
    .header_content h1{
        font-size:18px;
    }

    .header-content-input input{
        width: 100%;
        height: 1rem;
        font-size: 10px;
        line-height: 40px;
        border-radius: 2px;
    }
    
    .header-content-input button{
        font-size: 10px;
        line-height: 40px;
        border-radius: 2px;
    }
}

@media screen and (max-width: 307px){
    .header_content h1{
        font-size:16px;
    }

    .header-content-input input{
        width: 100%;
        height: 1rem;
        font-size: 8px;
        line-height: 40px;
    }
    
    .header-content-input button{
        font-size: 8px;
        line-height: 40px;
    }
}






